body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.top-container {
    padding-top: 100px;
    background-color: #E4F9F5;  
    position: relative;

}

.underline {
    text-decoration: underline;
}

.top-cloud {
    
}

.bottom-cloud {
    position: absolute;
}