.first {
    background-color:  red;
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    left: 100px;
 
}

.second{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    left: 300px;

}

.last {
    background-color: green;
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    right: 100px;
}