.first {
    background-color:  red;
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    right: 30;
}

.second{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: relative;
    display: inline;

}

.last {
    background-color: green;
    height: 200px;
    width: 200px;
    position: relative;
    display: inline;
}